/*///////////- Reset -///////////*/
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*///////////Header/nav index - Galeria - Biografia///////////*/
header {
  background: #eeeeee;
}
header nav div .logo { /*/<<--- Logo nav */
  width: 50px;
  height: 50px;
  margin: 0px 0px 10px 25px;
}
header nav div div ul li a {
  margin-left: 10px;
}
header nav div div ul li:hover {
  text-shadow: 1px 1px 2px rgb(240, 122, 17);
}

/*////////////////////////////////////////// index ////////////////////////////////////////*/
.bg__banner { /*<----- banner/*/
  background-image: url("../assets/prod12.jpg");
  background-size: cover;
  margin: 0px;
  padding: 50px;
  display: flex;
}

.index__banner__text { /*/<-- texto junto al banner//*/
  background: #eeeeee;
  justify-content: center;
  padding: 20px;
  font-size: 1em;
  transition: 0.2s;
}

.index__banner__text:hover {
  background: #fff;
}

/*////////////////////////////////////////// biografia ////////////////////////////////////////*/
.biografia__blog {
  width: 100%;
}
.biografia__blog h1 {
  font-size: 33px;
  padding: 20px 0px;
  text-align: center;
}
.biografia__blog p {
  padding: 20px;
}
.biografia__blog__banner {
  width: 100%;
  padding: 0px 20px;
}
.biografia__blog__banner img {
  width: 100%;
}
.biografia__blog__video {
  display: flex;
  justify-content: center;
}
.biografia__blog__video iframe {
  margin: 20px 0px;
}
.biografia__blog__imagen {
  display: flex;
  justify-content: center;
}
.biografia__blog__zapas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.biografia__blog__titulo {
  font-size: 27px;
  margin: 0px 20px 20px 20px;
  background: rgb(240, 122, 17);
  padding: 10px;
}

/*////////////////////////////////////////// galeria ////////////////////////////////////////*/
.galeria__imgenes { /*/<<-- div padre contenedor de imagenes en main//*/
  background-image: url("../assets/prod2.jpg");
  background-size: cover;
  padding: 30px 0px 40px;
  margin: auto;
}
.galeria__imgenes div {
  padding: 20px 40px;
}

.galeria__videos { /*/<<-- div padre contenedor de videos en main//*/
  text-align: center;
  margin: 20px 0px;
}
.galeria__videos div {
  padding: 0px 10px 40px 10px;
}

/*////////////////////////////////////////// Footer index - Galeria - Biografoa ////////////////*/
footer {
  text-align: center;
  padding: 20px;
  background: #000;
}
footer p {
  color: #fff;
}

/*///////////////////////////////// Responsive Desktop --> Tablet --> mobile /////////////////////////////////////*/
/*/ Tablet /*/
@media (max-width: 992px) {
  /*/ Header/nav [index - galeria - biografia] /*/
  .li-padding-responsive {
    padding-left: 20px;
  }
  .bg__banner {
    flex-direction: column;
    align-items: center;
  }
  /*/ index responsive  /////////////////////////////////*/
  .carousel-item { /*/<<-- 3 divs contenedores de imagenes del banner//*/
    margin-left: 12px;
  }
  .index__banner__text { /*/<<-- texto junto al banner//*/
    margin: 20px 0px 0px 12px;
    text-align: center;
    max-width: 960px;
    padding: 20px;
  }
  .index__img__item { /*/<<-- div contenedor de imagenes en main//*/
    margin: 40px 0px;
  }
  /*/ galeria responsive  ///////////////////////////////*/
  .galeria__imgenes {
    margin: auto;
  }
}
/*------ Mobile -----*/
@media (max-width: 576px) {
  /*/ Header/nav [index - galeria - biografia]/*/
  .li-padding-responsive {
    padding-left: 20px;
  }
  /*/ index responsive -----------------------------------------------------------/*/
  .index__banner__text { /*/<-- texto junto al banner//*/
    min-width: 180px;
    margin: 20px 0px 0px 12px;
    padding: 10px;
  }
  .carousel-item { /*/<<-- 3 divs contenedores de imagenes del banner//*/
    margin-left: 10px;
  }
  .index__img__item { /*/<<-- div contenedor de imagenes en main//*/
    margin: 20px 0px;
  }
  /*/ biografia responsive -------------------------------------------------------/*/
  .biografia__blog img {
    width: 100%;
  }
  .biografia__blog__banner {
    height: 200px;
    padding: 0px;
  }
  .biografia__blog__banner img {
    height: 100%;
    object-fit: cover;
    object-position: 100% 0%;
  }
  /*/ galeria responsive ///////////////////////////////////////////////////*/
  .galeria__imgenes {
    margin: auto;
  }
  .galeria__videos div iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
