*{
 margin: 0px;
 padding: 0px;
 font-size: 18px;
 box-sizing: border-box;
 font-family: "Montserrat", sans-serif;
}
/*---------------------- header de index, galeria y biografia -----------------------*/

nav {
	
	background: #eee;
	display: flex;
	padding: 10px 0px 10px 30px;
}

nav div img {
	width: 100%;	
}

nav ul {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 700px;
}

nav ul li {
	list-style: none;
	margin: 0px 20px;
}

nav ul li a {
	color: #000;
	text-decoration: none;
}
/*---------------------- main - index ----------------------*/

.index__section1-banner {
	 background-image: url("../assets/prod12.jpg");
	 background-size: cover;
	 width: 100%;
	 height: 95vh;
	 padding: 41px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}

.index__section1-banner__div1__img {
	width: 800px;
}

.index__section1-banner__div1__img img{
	width: 100%;
}

.index__section1-banner__div2__text{
	padding: 0px 10px;
	width: 300px;
	height: 400px;
	background: #eee;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.index__section1-banner__div2__text p{
	color: #000;
	font-size: 25px;
	line-height: 1.2;
}

.index__section2-imagenes{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background: #eee;
}

.index__section2-imagenes div{
	width: 350px;
	height: 200px;
	background: #000;	
}

.index__section2-imagenes div img{
	width: 100%;
	height: 100%;
}

.index__section3-bootstrap{
	padding: 150px;
}
/*---------------------- main - galeria ----------------------*/
.galeria__section1-imagenes {
	background-image: url("../assets/prod2.jpg");
	background-size: cover;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.galeria__section1-imagenes div{
	width: 350px;
	height: 200px;
	margin: 10px;
}

.galeria__section1-imagenes div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.galeria__section2-videos{
	background: #000;
}

.galeria__section2-videos div{
	display: flex;
	justify-content: center;
	background: #eee;
	padding: 20px 0px 80px;
}

.galeria__section2-videos article h1{
	background: #eee;
	text-align: center;
	padding: 10px;
}
.galeria__section2-videos iframe{
	width: 800px;
	height: 500px;
}
/*---------------------- main - biografia ----------------------*/
.biografia__section-blog h1{
	font-size: 33px;
	padding: 20px 0px;
	text-align: center;
}

.biografia__section-blog p{
	padding: 20px;
}

.biografia__section-blog__div__banner{
	width: 100%;
	padding: 0px 20px;
}

.biografia__section-blog__div__banner img{
	width: 100%;
}

.biografia__section-blog article{
	width: 100%;
}

.biografia__section-blog_article__div-iframe {
	display: flex;
	justify-content: center;
}

.biografia__section-blog_article__div-imagen {
	display: flex;
	justify-content: center;
}

.biografia__section-blog__div-imagenes__div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.biografia__section-blog_article__div-iframe iframe {
	margin: 20px 0px;
}

.biografia__section-blog__p-titulo{
	font-size: 27px;
	margin: 0px 20px 20px 20px;
	background: rgb(240, 122, 17, 1.0);
	padding: 10px;
}
/*---------------------- footer de index, galeria y biografia ----------------------*/

footer{
	text-align: center;
	 background: #000;
	 padding: 10px 0px;
}

footer h4{
	color: #fff;
}