/*////////////////////////////// responsive /////////////////////////////*/
@media (max-width: 576px){
	/*/ Header/nav index - galeria - biografia////////////*/
	.li-padding-responsive{
		padding-left: 20px;
	}

	/*/ index responsive ////////////////////////////////////*/
	.index__div__banner__text{ /*/<-- texto junto al banner//*/
		min-width: 180px;
		margin: 20px 0px 0px 12px;
		padding: 10px;
	}

	.carousel-item{ /*/<<-- 3 divs contenedores de imagenes del banner//*/
		margin-left: 10px;	
	}

	.section3__img-item{ /*/<<-- div contenedor de imagenes en main//*/
		margin: 20px 0px;
	}

	/*/ galeria responsive /////////////////////////////////*/
	.galeria__section1-imgenes{ 
		margin: auto;
	}
	.galeria__section2-videos{
		article{
			div{
				iframe {
				width: 100%;
				}
			}
		}
		
	} 

	/*/ biografia responsive ///////////////////////////////*/
	.biografia__section-blog {
		article{
			img{
				width: 100%;
			}
			.biografia__section-blog__div__banner{
				height: 200px;
				padding: 0px;
					img{
						height: 100%;
						object-fit: cover;
						object-position: 100% 0%;
					}
			} 
		}
	}
		
}
	


@media (max-width: 992px){
	/*/ Header/nav /////////////////////////////////////////*/
	.li-padding-responsive{
		padding-left: 20px;
	}
	.bg-div-banner {
		flex-direction: column;
		align-items: center;
	}

	/*/ index responsive  /////////////////////////////////*/
	.carousel-item{ /*/<<-- 3 divs contenedores de imagenes del banner//*/
		margin-left: 12px;
	}

	.index__div__banner__text{ /*/<<-- texto junto al banner//*/
		margin: 20px 0px 0px 12px;
		text-align: center;
		max-width: 960px;
		padding: 20px;
	}

	.section3__img-item{ /*/<<-- div contenedor de imagenes en main//*/
		margin: 40px 0px;
	}

	/*/ galeria responsive  ///////////////////////////////*/
		.galeria__section1-imgenes{ 
			margin: auto;
		}		
}