/*////////////////////////////////////////// biografia ////////////////////////////////////////*/
.biografia__blog {
		width: 100%;
		h1{
			font-size: 33px;
			padding: 20px 0px;
			text-align: center;
		}
		p{
			padding: 20px;
		}
		&__banner{
			width: 100%;
			padding: 0px 20px;
			img{
				width: 100%;
			}
		}
		&__video {
			@include flex-row-center;
				iframe {
					margin: 20px 0px;
			}
		}
		&__imagen {
			@include flex-row-center;
		}	
		&__zapas {
			@include flex-row-center;
			flex-wrap: wrap;
		}
		&__titulo{
			font-size: 27px;
			margin: 0px 20px 20px 20px;
			background: rgb(240, 122, 17, 1.0);
			padding: 10px;
		}
}