/*////////////////////////////////////////// index ////////////////////////////////////////*/
.bg__banner{   /*<----- banner/*/
	background-image: url("../assets/prod12.jpg");
	background-size: cover;
	margin: 0px;
	padding: 50px;
	display: flex;
}

.index__banner__text{ /*/<-- texto junto al banner//*/
		background: $gris;
		justify-content: center;
		padding: 20px;
		font-size: 1em;
		transition: .2s;
}
.index__banner__text:hover{
	background: #fff;
}